* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    /* background: black; */
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

canvas {
    background: white;
    border: 1px solid black;
}

button {
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.img__gallery__wrapper {
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 2rem;
}

img {
    border: 1px solid black;
}
