* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.card {
    width: 90%;
    height: 80%;
    background: yellow;
    border-radius: 5rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background: white;
    border: 1px solid black;
}

button {
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.img__gallery__wrapper {
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 2rem;
}

img {
    border: 1px solid black;
}
